body {
    background-color: #DDDDDD;
}

#game-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#right-column {
    display: flex;
    flex-direction: column;
}

/* players box */
.players-container {
    flex: 0;
}
.players-list {
    padding: 4px;
    background-color: white;
}
.request-bot-button {
    /* TODO: hard-coded; don't know how to avoid */
    margin-left: 100px;
}

/* chat box */
.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.chat-region {
    flex: 1;
    width: 250px;
    background-color: white;
}
.chat-input {
    flex: 0;
    width: 250px;
}
