<html>
  <head>
    <title>Games List</title>
    <script>window.TEMPLATE_PARAMS = {{{js_params}}};</script>
    {{#js_deps}}
    <script type="text/javascript" src="{{js_path}}"></script>
    {{/js_deps}}

    <link rel="stylesheet" href="nav_bar.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="main.css">

    <script type="text/javascript">
      window.NavBar();
    </script>
  </head>

  <body>
    <div class="home-container">
      <div class="top-left-panel"><div id="select-game-region"></div></div>
      <div class="top-center-panel">
        <div id="create-table-region"></div>
        <div id="table-list"></div>
      </div>
      <div class="top-right-panel"></div>
    </div>
  </body>
</html>
