body {
    font-family: Helvetica, Arial;
    padding: 0px;
    margin: 0px;
}

.nav-bar {
    font-size: 16px;

    display: table;
    width: 100%;
    background-color: #E67A65;
    padding: 3px;
    margin: 0px;
}

.nav-bar-status {
    display: table-cell;
    width: 100%;
    text-align: right;
    padding-right: 10px;
    border-right: solid 2px;
}

.nav-bar-link {
    display: table-cell;
    padding-left: 20px;
    white-space: nowrap;

    color: #000000;
    text-decoration: none;
}
.nav-bar-link:hover {
    color: #666666;
}


.nav-bar-link.nav-bar-signout {
    display: table-cell;
    text-align: right;
    /* width: 80px; */

    white-space: nowrap;
    padding-right: 15px;
    padding-left: 10px;
}
