<html>
  <head>
    <title>Testing Page</title>
    <script>window.TEMPLATE_PARAMS = {{{js_params}}};</script>
    {{#js_deps}}
    <script type="text/javascript" src="{{js_path}}"></script>
    {{/js_deps}}
  </head>

  <body>
    <div id="save-region"></div>
    <div id="tabs"></div>
    <div id="iframe-display"></div>
  </body>
</html>
